*{
    margin: 0px;
    padding: 0px;
    /* for using letter method */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* for google link css copy */
    font-family: 'Playfair Display', serif;
}
#container{
    width: 100%;
    height: 100vh;/* 1vh=19.2px,100 vh -> full screen hieght */
    position: relative;/* position relative to its normal position */
    background-color: white;
}
#logo{
    width: 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;/* for seeing start and end space */
    align-items: center;/* verticuly center */
    width: 85%;
    margin-left: 100px;
}
.listitem{
    /* for same line ,its respects both top and bottome and padding*/
    display: inline-block;
    /* for avoide dots */
    list-style: none;
    margin: 10px 20px;
}
.links{
    /* for using avoid under line */
    text-decoration: none;
    color: black;
    /* for bold */font-weight: bolder;

}
.links:hover{
    color: red;
}
.title{
    margin-left: 8%;
    margin-top:13% ;
}
.title-h1{
    font-size: 45px;
    margin-bottom: 20px;
}
#lastname{
    color: orange;
}
#download{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 30px 0px;
    display :inline-block ;
    border-radius: 10px;
}
.images{
    width: 45%;
    height: 85%;
    bottom: 0px;
    /* position: absolute for curresponding relative parent */
    position: absolute;
    right: 30px;
}
.imagegroup{
    position: absolute;
    height: 100%;
    bottom: 0px;/* initial values */
    left: 50%;/* initial values */
    transform: translateX(-50%);/* to remove left 50% effect */
    transition: bottom 2s,left 2s;

}
.images:hover #shape/* parant->child ---desantent selector */{
    bottom:60px ;
}
.images:hover #girl{
    left: 40%;
}
#about{
    margin: 10% 8% 0% 8%;
}
/* parenting name and chaild name */
.heading{
    text-align: center;
    
}
.heading h2{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading span{
    color: green;
    font-size: 20;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-top: 2rem;
}
.about_image{
    width: 80%;
    border-radius: 10px;
}
.about_para p{
    text-align:justify;
    font-size: 18px; 
    font-weight: 500;
    margin-top: 1rem;
}
.information{
    margin-top: 2rem;
}
.info-box{
    margin-bottom: 1rem;
    align-items: center;
    font-size: 18px; 
}
.info-box span{
    margin-left: 1rem;
}
#skill{
    margin: 8% 8% 0px 8%;
}
.skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-top: 2rem;
}
.skill_img{
    width: 50%;
    padding-left: 4rem;
    /* object-position its used specfy how a image and video should be position with in XY cordinate */
    object-position: center;
}   
.progress_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0px;
    position: relative;
}
.progress_bar span{
    font-size: 1.2rem;
    font-weight: 800;
}
.base_bar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    position: absolute; 
    bottom: 0px;
    border-radius: 0.5rem;
    /* left: 0px; */
}
.html_bar{
    width: 95%;
    background-color:orange;
}
.css_bar{
    width: 88%;
    background-color:orange;
}
.js_bar{
    width: 89%;
    background-color:orange;
}
.react_bar{
    width: 85%;
    background-color:orange;
}
.icon-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.icon, .up-arrow{
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
.icon:hover{
     /* background-color: orange; */
     background-image: linear-gradient(to bottom right,yellow,rgb(234, 25, 25));
  
}
.icon i{
    color: black;
    font-size: 2rem;
}
.icon:hover i{
    color: white;
    animation: shake 0.75s;
}
@keyframes shake {
    10%{
        transform: rotate(15deg);
    } 
    20%{
        transform: rotate(-15deg);
    } 
    30%{
        transform: rotate(15deg);
    } 
    40%{
        transform: rotate(-15deg);
    } 
}
.footer{
    text-align: center;
}
.up-arrow{
    background-image: linear-gradient(to bottom right,yellow,rgb(234, 25, 25));
      float: right;/* for starting left /right 1,2,3,... */
      margin: 10px 20px 50px 0px;
}
.up-arrow:hover i{
    color: white;
}
html {
    scroll-behavior: smooth !important;
}
